---
layout: default
---

<div>

   {% for post in paginator.posts %}

		<div class="postbox">
			<div class="post-format-icon">
                <a class="item-date pjaxlink" href="{{ post.url | prepend: site.baseurl }}"><span>{{post.category}}</span></a>
            </div>
			<div class="allpost">
				<div class="title"><a class="pjaxlink" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
				<hr>
				<div class="info">
					<i class="fa fa-calendar"></i>&nbsp;{{ post.date | date:"%Y-%m-%d" }}
					{% if post.tags.size > 0 %}
				      <i class="fa fa-tags"></i>
					<span class="index-post-tag">
						{% for tag in post.tags %}
							<a class="pjaxlink" href="/pages/tags.html#{{tag}}">{{ tag}}</a>
						{% endfor %}
					</span>
					{% endif %}
				</div>
				<div class="contentAbstract">{{ post.excerpt }}</div>				
			</div>
			<a href="{{ post.url | prepend: site.baseurl }}"  class="readmore pjaxlink">Read More <i class="glyphicon glyphicon-chevron-right"></i></a>
		</div>

   {% endfor %}



	{% if paginator.total_pages > 1 %}
		<div class="pagination center">
			  {% if paginator.previous_page %}
			    <a class="pjaxlink"  href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span class="x1" style="margin-right:5px;"><i class="glyphicon glyphicon-chevron-left"></i> 上一页</span></a>
			  {% endif %}
			  
			  {% assign pageSize = 5 %} 
			  {% assign startPage = paginator.page | minus:pageSize %} 
			  {% if 2 > startPage %}	
			  {% assign startPage = 2 %} 
			  {% endif %} 
			  {% assign endPage = paginator.page | plus:pageSize %} 
		         {% if endPage >= paginator.total_pages %}	
			  {% assign endPage = paginator.total_pages | minus:1 %} 
			  {% endif %} 
			  			  
			  {% for page in (startPage..endPage) %}
				    {% if page == paginator.page %}
				      <span class="active_page x1">{{ page }}</span>
				    {% elsif page == 1 %}
				      <a class="pjaxlink" href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}"><span class="x1">{{ page }}</span></a>
				    {% else %}
				      <a class="pjaxlink" href="/page{{page}}"><span class="x1">{{ page }}</span></a>
				    {% endif %}
			  {% endfor %}

			  {% if paginator.next_page %}
			   	 <a class="pjaxlink" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span class="x1" style="margin-left:5px;">下一页 <i class="glyphicon glyphicon-chevron-right"></i></span></a>
			  {% endif %}
		</div>
	{% endif %}
<div class="pagination">
  <ul>
    {% if paginator.page == 1 %}
    <li class="disabled">
      <a>&lt;&lt;</a>
    </li>
    {% else %}
    <li>
      <a href="/">&lt;&lt;</a>
    </li>
    {% endif %}
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <li class="prev">
          <a href="/">&lt;</a>
        </li>
      {% else %}
        <li class="prev">
          <a href="/page{{ paginator.previous_page }}/">&lt;</a>
        </li>
      {% endif %}
    {% else %}
      <li class="prev disabled">
        <a>&lt;</a>
      </li>
    {% endif %}


    {% assign page_str = '' %}
    {% assign curr_page_num = paginator.page %}
    {% assign prev_page_count = 0 %}
    {% if curr_page_num > 1 %}
      {% assign end = curr_page_num | minus:1 %}
      {% if curr_page_num < 4 or curr_page_num == 4 %}
        {% assign start = 1 %}
      {% else %}
        {% assign start = curr_page_num | minus:3 %}
      {% endif %}
      {% for count in (start..end) %}
        {% assign page_str = page_str | append:',' | append:count %}
        {% assign prev_page_count = prev_page_count | plus:1 %}
      {% endfor %}
    {% endif %}

    {% assign page_str = page_str | append:',' | append:curr_page_num %}
    {% assign last_page_num = paginator.total_pages %}
    {% assign next_page_count = 0 %}
    {% if last_page_num > curr_page_num %}
      {% assign rest_page_count = last_page_num | minus:curr_page_num %}
      {% assign start = curr_page_num | plus:1 %}
      {% if rest_page_count > 6 %}
        {% assign end = curr_page_num | plus:6 %}
        {% if prev_page_count < 3 %}
          {% assign not_enough = 3 | minus:prev_page_count %}
          {% for i in (1..not_enough) %}
            {% assign try_add_page = end | plus:1 %}
            {% if try_add_page < last_page_num or try_add_page == last_page_num %}
              {% assign end = try_add_page %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% else %}
        {% assign end = last_page_num %}
      {% endif %}
      {% for count in (start..end) %}
        {% assign page_str = page_str | append:',' | append:count %}
        {% assign next_page_count = next_page_count | plus:1 %}
      {% endfor %}
    {% endif %}

    {% if next_page_count < 6 and curr_page_num > 4 %}
      {% assign not_enough = 6 | minus:next_page_count %}
      {% for i in (1..not_enough) %}
        {% assign try_add_page = curr_page_num | minus:4 %}
        {% if try_add_page > 1 or try_add_page == 1 %}
          {% assign page_str = page_str | prepend:try_add_page | prepend:',' %}
          {% assign curr_page_num = curr_page_num | minus:1 %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% assign page_str = page_str | replace_first:',','' %}
    {% assign page_arr = page_str | split:',' %}
    {% assign curr_page_num = paginator.page | append:'' %}
    {% for count in page_arr %}
      {% if count == curr_page_num %}
        <li class="disabled">
          <a>{{ count }}</a>
        </li>
      {% elsif count == '1' %}
        <li>
          <a href="/">{{ count }}</a>
        </li>
      {% else %}
        <li>
          <a href="/page{{ count }}/">{{ count }}</a>
        </li>
      {% endif %}
    {% endfor %}


    {% if paginator.next_page %}
      <li class="next">
        <a href="/page{{ paginator.next_page }}/">&gt;</a>
      </li>
    {% else %}
      <li class="next disabled">
        <a>&gt;</a>
      </li>
    {% endif %}
    {% if paginator.total_pages == paginator.page %}
    <li class="disabled">
        <a>&gt;&gt;</a>
    </li>
    {% else %}
    <li>
      <a href="/page{{ paginator.total_pages }}/">&gt;&gt;</a>
    </li>
    {% endif %}
  </ul>
</div>
<!--
	<div class="pagination">
	  {% if paginator.previous_page %}
	    {% if paginator.page == 2 %}
	      <a class="pagination-item newer" href="/">更新的博文</a>
	    {% else %}
	      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">更新的博文</a>
	    {% endif %}
	  {% else %}
	    <span class="pagination-item newer">已经是最新的博文</span>
	  {% endif %}

	  {% if paginator.next_page %}
	    <a class="pagination-item older" href="/page{{paginator.next_page}}">更早的博文</a>
	  {% else %}
	    <span class="pagination-item older">已经是最后一页</span>
	  {% endif %}
	</div>


  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
--> 
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
