---
layout: default
---

<div>

   {% for post in paginator.posts %}

		<div class="postbox">
			<div class="post-format-icon">
                <a class="item-date pjaxlink" href="{{ post.url | prepend: site.baseurl }}"><span>{{post.category}}</span></a>
            </div>
			<div class="allpost">
				<div class="title"><a class="pjaxlink" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
				<hr>
				<div class="info">
					<i class="fa fa-calendar"></i>&nbsp;{{ post.date | date:"%Y-%m-%d" }}
					{% if post.tags.size > 0 %}
				      <i class="fa fa-tags"></i>
					<span class="index-post-tag">
						{% for tag in post.tags %}
							<a class="pjaxlink" href="/pages/tags.html#{{tag}}">{{ tag}}</a>
						{% endfor %}
					</span>
					{% endif %}
				</div>
				<div class="contentAbstract">{{ post.excerpt }}</div>				
			</div>
			<a href="{{ post.url | prepend: site.baseurl }}"  class="readmore pjaxlink">Read More <i class="glyphicon glyphicon-chevron-right"></i></a>
		</div>

   {% endfor %}



	{% if paginator.total_pages > 1 %}
		<div class="pagination center">
			  {% if paginator.previous_page %}
			    <a class="pjaxlink"  href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span class="x1" style="margin-right:5px;"><i class="glyphicon glyphicon-chevron-left"></i> 上一页</span></a>
			  {% endif %}
			  
			  {% for page in (1..paginator.total_pages) %}
				    {% if page == paginator.page %}
				      <span class="active_page x1">{{ page }}</span>
				    {% elsif page == 1 %}
				      <a class="pjaxlink" href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}"><span class="x1">{{ page }}</span></a>
				    {% else %}
				      <a class="pjaxlink" href="/page{{page}}"><span class="x1">{{ page }}</span></a>
				    {% endif %}
			  {% endfor %}

			  {% if paginator.next_page %}
			   	 <a class="pjaxlink" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span class="x1" style="margin-left:5px;">下一页 <i class="glyphicon glyphicon-chevron-right"></i></span></a>
			  {% endif %}
		</div>
	{% endif %}

<!--
	<div class="pagination">
	  {% if paginator.previous_page %}
	    {% if paginator.page == 2 %}
	      <a class="pagination-item newer" href="/">更新的博文</a>
	    {% else %}
	      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">更新的博文</a>
	    {% endif %}
	  {% else %}
	    <span class="pagination-item newer">已经是最新的博文</span>
	  {% endif %}

	  {% if paginator.next_page %}
	    <a class="pagination-item older" href="/page{{paginator.next_page}}">更早的博文</a>
	  {% else %}
	    <span class="pagination-item older">已经是最后一页</span>
	  {% endif %}
	</div>


  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
--> 
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
