<header class="site-header">
	<div class="container">
		<div class="row">
				  <div class="col-md-3 col-lg-3 center">
				 			<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
				  </div>
				  
				  <div class="col-md-6 col-lg-6 center">				  			
							<nav class="site-nav">
								       <ul class="nav nav-pills">
								       	<li><a class="page-link pjaxlink" href="/pages/read.html">read</a></li>
								       	<li><a class="page-link pjaxlink" href="/pages/class.html">class</a></li>
								       	<li><a class="page-link pjaxlink" href="/pages/tags.html">tags</a></li>
								      	<li><a class="page-link pjaxlink" href="/pages/archive.html">archive</a></li>
								        	<li><a class="page-link pjaxlink" href="/pages/about.html">about</a></li>
								        </ul>
							</nav>
				  </div>
				  
				   <div class="col-md-3 col-lg-3">
				   </div>
		</div>
	</div>
</header>
