<header class="site-header">
	<div class="container">
		<div class="row">
				  <div class="col-md-3 col-lg-3 center">
				 		<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> 
				  </div>
				  
				  <div class="col-md-6 col-lg-6 center">				  			
							<nav class="site-nav">
								       <ul class="nav nav-pills">
								       	<li class="select"><a class="page-link " href="/pages/read.html">读书</a></li>
								       	<li class="select"><a class="page-link " href="/pages/class.html">分类</a></li>
								       	<li class="select"><a class="page-link " href="/pages/tags.html">标签</a></li>
								      	<li class="select"><a class="page-link " href="/pages/archive.html">归档</a></li>
								        	<li class="select"><a class="page-link " href="/pages/about.html">关于</a></li>
								        </ul>
							</nav>
				  </div>
				  
				   <div class="col-md-3 col-lg-3">
				   		<div class="search">
						  	<input type="text" class="search-query st-default-search-input" placeholder="Search">
				   		</div>
				   </div>
		</div>
	</div>
</header>
