/*多说评论框*/ 

#ds-reset .ds-avatar, #ds-thread #ds-reset ul.ds-children .ds-avatar {
	position: absolute;
	top: 26px;
	left: -16px;
	box-shadow: -1px 0 1px rgba(0,0,0,.15) inset;
	border-radius: 46px;
	background: #f8f8f8;
}

#ds-reset .ds-avatar img{   
    -webkit-border-radius: 27px;
    -moz-border-radius:27px;
    box-shadow: inset 0 -1px 0 #3333sf;
    -webkit-box-shadow: inset 0 -1px 0 #3333sf;   
    -webkit-transition: 0.4s;      
    -webkit-transition: -webkit-transform 0.4s ease-out;   
    transition: transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;   
}    
#ds-reset .ds-avatar img:hover{
    box-shadow: 0 0 10px #fff; rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);   
    -webkit-box-shadow: 0 0 10px #fff; rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);   
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);   
    -moz-transform: rotateZ(360deg);   
}  

#ds-thread #ds-reset li.ds-post, #ds-thread #ds-reset #ds-hot-posts {
	overflow: visible;
}
#ds-thread #ds-reset .ds-comment-body {
	-webkit-transition-delay: initial;
	-webkit-transition-duration: 0.4s;
	-webkit-transition-property: all;
	-webkit-transition-timing-function: initial;
	padding: 15px 15px 15px 47px;
	border-radius: 5px;
	box-shadow: #B8B9B9 0 1px 3px;
	border: white 1px solid;
}

#ds-thread #ds-reset li.ds-post, #ds-thread #ds-reset .ds-post-self {
	border: 0 !important;
}
#ds-thread #ds-reset .ds-post-self {
	padding: 10px 0 10px 10px;
}

#ds-reset #ds-bubble #ds-ctx .ds-ctx-entry {padding:0;}
#ds-reset #ds-bubble .ds-avatar, #ds-reset #ds-bubble #ds-ctx-bubble .ds-avatar a {position:static;padding:0;border:0; background:none;box-shadow:none;}
#ds-reset #ds-bubble .ds-avatar img, #ds-reset #ds-bubble #ds-ctx-bubble .ds-avatar a {width:45px !important;height:45px !important;}

#ds-reset .ds-comment-body #ds-ctx {border-left:1px solid #b9baa6;background-color:#e8e8dc !important}
#ds-reset #ds-ctx {margin-right:-15px}
#ds-reset #ds-ctx .ds-ctx-entry {position:relative;padding:10px 30px 10px 10px;}
#ds-reset #ds-ctx .ds-ctx-entry .ds-avatar {top:6px;left:5px;background:none;box-shadow:none;}
#ds-reset #ds-ctx .ds-ctx-entry .ds-ctx-body {margin-left:46px;}
#ds-reset #ds-ctx .ds-ctx-entry .ds-ctx-content {color:#787968}
#ds-reset #ds-ctx .ds-ctx-entry .ds-ctx-head a {color:#696A52;font-weight:bold}
