---
layout: base
---
<div class="row">
  <div class="col-md-12 aside3-title">
    <br>
    <h2 id="#identifier">{{ page.title }}</h2>
    {{ page.date | date:"%Y年%m月%d日" }}
  </div>

  <div class="col-md-12 aside3-content">
    {% include content.html %}
    <hr>
    <div id="content">
      {{ content }}
    </div>
    <hr>

	<div>
		<button type="button" class="btn btn-default show-commend" onclick="toggleDuoshuoComments('#comment-box');">显示评论</button>
	</div>


	<div id="comment-box" ></div>


	<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script src="http://static.duoshuo.com/embed.js"></script>
	<script type="text/javascript">
	var duoshuoQuery = {short_name:"maydaycoder"};
	function toggleDuoshuoComments(container){
	    var el = document.createElement('div');				//该div不需要设置class="ds-thread"
	    el.setAttribute('data-thread-key', '{{ page.id }}');		//必选参数
	    el.setAttribute('data-url', '{{ page.url }}');		//必选参数
	    DUOSHUO.EmbedThread(el);
	    jQuery(container).append(el);
	}
	</script>
	<!-- 多说公共JS代码 end -->

  </div>
</div>

