---
layout: base
---
<div class="row">
  <div class="col-md-12 aside3-title">
    <br>
    <h2 id="#identifier">{{ page.title }}</h2>
    {{ page.date | date:"%Y年%m月%d日" }}
  </div>

  <div class="col-md-12 aside3-content">
    {% include content.html %}
    <hr>
    <div id="content">
      {{ content }}
    </div>
    <hr>
    {% include share.html %}

	<script>var duoshuoQuery = {short_name:"你的多说二级域名"};</script>
	<script src="http://static.duoshuo.com/embed.js"></script>
	<script>
		function toggleDuoshuoComments(container){
    		var el = document.createElement('div'); //该div不需要设置class="ds-thread"
    		el.setAttribute('data-thread-key', 'page.title'); //必选参数
    		el.setAttribute('data-url', '{{ page.url }}');   //必选参数
    		DUOSHUO.EmbedThread(el);
    		jQuery(container).append(el);
		}
	</script>
	<a href="javascript:void(0);" onclick="toggleDuoshuoComments('#comment-box');">展开评论</a>
	<div id="comment-box" ></div>
	
  </div>
</div>

