---
layout: base
---
<div class="row">
  <div class="col-md-12 aside3-title">
    <br>
    <h2 id="#identifier">{{ page.title }}</h2>
    {{ page.date | date:"%Y年%m月%d日" }}
  </div>

	<!-- 百度分享 BEGIN -->
  <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-	cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a 	href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" 	title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
  </div>
	<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
	<!-- 百度分享 END -->
	
	<!-- 多说评论框 start -->
   <div class="ds-thread" data-thread-key="theory-of-mysql-index" data-title="MySQL索引背后的数据结构及算法原理" data- 		url="http://blog.codinglabs.org/articles/theory-of-mysql-index.html">
   </div>
	<!-- 多说评论框 end -->
	<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
	<script type="text/javascript">
	var duoshuoQuery = {short_name:"coding-labs"};
	(function() {
	 var ds = document.createElement('script');
	 ds.type = 'text/javascript';ds.async = true;
	 ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
	 ds.charset = 'UTF-8';
	 (document.getElementsByTagName('head')[0] 
	  || document.getElementsByTagName('body')[0]).appendChild(ds);
	 })();
	</script>
	<!-- 多说公共JS代码 end -->


  <div class="col-md-12 aside3-content">
    {% include content.html %}
    <hr>
    <div id="content">
      {{ content }}
    </div>
    <hr>
    {% include disqus.html %}
  </div>
</div>

