/*
Mellow, A Google Prettify Theme
A clean theme for displaying code with Google Prettify

Created by: Jesse Jones
http://jessejones.me
@jessedesigns

*/

/* Pretty printing styles. Used with prettify.js. */

/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #000 }  /* plain text */

@media screen {
    .str { color: #b62b28; }  /* string content */
    .kwd { color: #494db9; }  /* a keyword */
    .com { color: #32c421; }  /* a comment */
    .typ { color: #bbbbbb; }  /* a type name */
    .lit { color: #361bbe; }  /* a literal value */
    /* punctuation, lisp open bracket, lisp close bracket */
    .pun, .opn, .clo { color: #bbbbbb }
    .tag { color: #361bbe; }  /* a markup tag name */
    .atn { color: #b8b68d; }  /* a markup attribute name */
    .atv { color: #b62b28; }  /* a markup attribute value */
    .dec, .var { color: #b8b68d; }  /* a declaration; a variable name */
    .fun { color: #e77b28; }  /* a function name */
}

/* Print styles */
@media print, projection {
    .str { color: #b62b28 }
    .kwd { color: #494db9; font-weight: bold }
    .com { color: #32c421; font-style: italic }
    .typ { color: #000; font-weight: bold }
    .lit { color: #361bbe; }
    .pun, .opn, .clo { color: #999999 }
    .tag { color: #361bbe; font-weight: bold }
    .atn { color: #b8b68d; }
    .atv { color: #b62b28; }
}

/* Put a border around prettyprinted code snippets. Apply border-radius. */
pre.prettyprint { background:#ffffff; }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }

/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }